{% extends "home/index.html" %}
{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block content %} 

<div id="container">

</div>


<script>
	prices=[]
	{% for bc in bcps %}
		new_json={
			id: parseInt("{{bc.id}}"),
			date:new Date("{{bc.date|date:'Y-m-d'}}"),
			value: parseFloat("{{bc.value|safe}}")
		}
		prices.push(new_json)
	{% endfor %}
//let bitcoinprice=JSON.parse("{{bcp_serialized}}");
//console.log(bitcoinprice)

</script>
{% endblock %}


{% block extra_javascript %}
 
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
 <script src="{% static 'js/bitcoin_prices_highcharts.js' %}"></script>

{% endblock %}
