{% extends "base.html" %}
{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block navbar %} 
<div class="ui container">
<div class="ui four item menu">
  <a class="active item" href="{% url 'home:index' %}">Home</a>
  <a class="item" href="{% url 'bitcoinprice:bitcoinprice-create' %}">Add Price</a>
  <a class="item" href="{% url 'bitcoinprice:bitcoinprice-list' %}">Check List</a>
  <a class="item" href="{% url 'home:chart' %}">Chart
  </a>
</div>

</div>
{% endblock %}

{% block content %} 
<div class="ui container">

</div>
{% endblock %}
{% block extra_javascript %}

{% endblock %}
