{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
        {% block head_title %}

        {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">


        {% block base_css %}
        <link rel="stylesheet" type="text/css" href="{% static "semantic_ui/semantic.min.css" %}">


        {% endblock %}

        {% block extra_css %}

        {% endblock %}


    </head>
    <body>
        {% block navbar %} 
        {% endblock %}
        {% block content %}

        {% endblock %}
   </body>
    <footer>

    {% block base_javascript %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "semantic_ui/semantic.min.js" %}"></script>

    {% endblock %}

    {% block extra_javascript %}

    {% endblock %}

    </footer>        

 
</html