{% extends "home/index.html" %}

{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block content %} 
<div class="ui container">

<h1>Update Bitcoin Price</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
</div>
{% endblock %}


{% block extra_javascript %}

{% endblock %}
