{% extends "home/index.html" %}

{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block content %}
<div class="ui container">
<h1>BitCoin Prices</h1>
 <table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Price</th>
    <th>Detail</th>
  </tr> 	
{% for object in object_list %}
     <tr>
    <td>{{object.date|date}}</td>
    <td>{{object.value|safe}}</td>
    <td><a href="{% url 'bitcoinprice:bitcoinprice-detail' id=object.pk %}">View</a></td>
  </tr>
{% empty %}
    <li>There are no Bitcoin Prices yet.</li>
{% endfor %}
</table> 

{% include "paginate.html" %}

</div>
{% endblock %}


{% block extra_javascript %}

{% endblock %}
