{% extends "home/index.html" %}

{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block content %}
<div class="ui container">
<h1>BitCoin Prices</h1>
 <table style="width:100%">
  <tr>
  	<th>Date Created</th>
    <th>Date</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>{{object.created|date}}</td>
    <td>{{object.date|date}}</td>
    <td>{{object.value|safe}}</td>
    <td><a href="{% url 'bitcoinprice:bitcoinprice-update' id=object.pk %}">Edit</a></td>
    <td><a href="{% url 'bitcoinprice:bitcoinprice-delete' id=object.pk %}">Delete</a></td>
  </tr>
</table> 
</div>
{% endblock %}


{% block extra_javascript %}

{% endblock %}
