{% extends "home/index.html" %}
{% load staticfiles %}


{% block extra_css %}

{% endblock %}

{% block content %} 
<div class="ui container">

<h1>Delete Bitcoin Price</h1>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form>
</div>
{% endblock %}


{% block extra_javascript %}

{% endblock %}
